<div class="card scroll">
<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let script of scripts">
    <span class="row">
    <div class="col d-inline-block text-truncate mx-3">
        <div class="row font-weight-bold">
          {{script.name}}
        </div>
        <div class="row d-none d-sm-block script-preview">
          "{{script.script}}"
        </div>
    </div>
    <span class="d-flex justify-content-end align-items-center">
    <div class="col p-0 mx-3">
    <a class="btn btn-secondary" routerLink="/ai-editor/{{script.id}}" (click)="autoFill()">Edit AI</a>
  </div>
</span>
</span>
  </li>
</ul>
</div>
