.lobby {
  display: flexs;
}

.lobby-title {
  padding: 5%;
}

.container {
  display: flex;
  height: 500px;
  width: 500px;
  padding-left: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
}

.main-row {
  justify-content: space-evenly;
}

.selector-row {
  justify-content: space-evenly;
}

.selectors {
  width: 50%;
  justify-content: space-evenly;
}

.ai-selector {
  font-size: 20px;
  padding: 20px;
}

.start-btn {
  margin-top: 2em;
}

@media screen and (min-width: 416px) {
  .drop {
    margin-top: -390px;
    margin-left: 800px;
  }
  .game-map {
    margin-right: 600px;
  }
  .start-btn{
    margin-top: 1em;
  }
}

@media screen and (max-width: 415px) {
  .nav-space{
    height:25px;
  }
  .grid-container {
    display: grid;
    width: 1fr;
    grid-template-areas:
      "lobby-title"
      "game-map"
      "bug-dropdown1"
      "bug-dropdown2"
      "bug-dropdown3"
      "bug-dropdown4"
      "start-btn";
  }
  .ai-dropdown {
    display: flex;
    justify-content: flex-end;
  }
  .lobby-title {
    text-align: center;
    grid-area: lobby-title;
    z-index: 1;
    padding-bottom: 0;
    padding-left: 0;
  }
  .row.main-row {
    margin-left: -16em;
    margin-top: -8em;
    z-index: 0;
  }
  .container.game-map {
    padding-left: 32px;
  }
  .game-map {
    grid-area: game-map;
    margin-left: auto;
    width: 400%;
    margin-top: 25px;
  }
  .bug-dropdown1 {
    grid-area: bug-dropdown1;
  }
  .bug-dropdown2 {
    grid-area: bug-dropdown2;
  }
  .bug-dropdown3 {
    grid-area: bug-dropdown3;
  }
  .bug-dropdown4 {
    grid-area: bug-dropdown4;
  }
  .start-btn {
    grid-area: start-btn;
  }
  .drop {
    margin-top: -12em;
    z-index: 1;
  }
  /* .row{
    flex-direction: column;
  } */
}
