<div class="container">
  <div class="main-content">
    <div class="map-content">
      <h1
        class="h1-responsive font-weight-bolder mt-5 text-xs-center text-md-left"
      >
        Game Lobby
      </h1>
      <h2 class="h2-responsive font-weight-light m-3">
        Select your game map and AI options
      </h2>
      <map-carousel [slides]="slides"></map-carousel>
    </div>
    <div id="bug-list" class="align-items-center justify-content-center">
      <app-bug-dropdown
        *ngFor="let color of colors"
        [color]="color"
        [options]="options"
      ></app-bug-dropdown>
    </div>
  </div>
</div>
