 <div class="column">
    <div class="row group-bug">
    <div class="custom-select">
      <div class="row">
        <img src="/assets/images/red-bug.png" alt="Bug 1" class="bug" />
        <p>Bug 1:</p>
      </div>
      <select>
        <option value="">Select</option>
        <option>Killer</option>
        <option>Ravager</option>
        <option>Murderer</option>
        <option>Cannibal</option>
      </select>
    </div>
    <div class="custom-select">
      <div class="row">
        <img src="/assets/images/blue-bug.png" alt="Bug 2" class="bug" />
        <p>Bug 2:</p>
      </div>
      <select>
        <option value="">Select</option>
        <option>Killer</option>
        <option>Ravager</option>
        <option>Murderer</option>
        <option>Cannibal</option>
      </select>
    </div>
  </div>
  <div class="column">
  <div class="row group-bug">
    <div class="custom-select">
      <div class="row">
        <img src="/assets/images/yellow-bug.png" alt="Bug 3" class="bug" />
        <div class="bug-num">
        <p>Bug 3:</p>
        </div>
      </div>
      <select>
        <option value="">Select</option>
        <option>Killer</option>
        <option>Ravager</option>
        <option>Murderer</option>
        <option>Cannibal</option>
      </select>
    </div>
    <div class="custom-select">
      <div class="row">
        <img src="/assets/images/green-bug.png" alt="Bug 4" class="bug" />
        <p>Bug 4:</p>
      </div>
      <select>
        <option value="">Select</option>
        <option>Killer</option>
        <option>Ravager</option>
        <option>Murderer</option>
        <option>Cannibal</option>
      </select>
    </div>
    </div>
  </div>
  </div>
