.title{
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;
  font-size: 75px;
  padding: 10px;
}
h2{
  text-align: center;
  padding: 10px;
}

.btn{
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
}

.btn-grey{
  background-color: rgb(178,178,178);
  color: white;
}

.btn-row{
justify-content: space-evenly;
}

.row{
  padding: 10px;
}



