<p>Game Lobby</p>
<select>
  <option>Killer</option>
  <option>Ravager</option>
  <option>Murderer</option>
  <option>Cannibal</option>
</select>
<select>
    <option>Killer</option>
    <option>Ravager</option>
    <option>Murderer</option>
    <option>Cannibal</option>
</select>
<select>
    <option>Killer</option>
    <option>Ravager</option>
    <option>Murderer</option>
    <option>Cannibal</option>
</select>
<select>
    <option>Killer</option>
    <option>Ravager</option>
    <option>Murderer</option>
    <option>Cannibal</option>
</select>
