

.lobby{
    display: flexs;
}

.lobby-title{
    padding: 5%;
}

.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.main-row{
  /* display: flex; */
  justify-content: space-evenly;
}

.selector-row{
  justify-content: space-evenly;
}

.selectors{
  width: 50%;
  justify-content: space-evenly;
}

.ai-selector{
  font-size: 20px;
  padding: 20px;
}

.start-btn{
  margin-top: 2em;
}

.select select:focus{
  background-color: #858585;
}
