.lobby{
    display: flexs;
}

.lobby-title{
    padding: 5%;
}

.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.main-row{
  justify-content: space-evenly;
}

.selectors{
  width: 50%;
  justify-content: space-evenly;
}
