<div class="lobby">
  <div class="lobby-title">
    <h1>Game Lobby</h1>
    <h4>Select your AI options and map</h4>
  </div>
  <div class="row main-row">
    <div class="column">
      <div class="container">
        <map-carousel [slides]="slides"></map-carousel>
      </div>
    </div>
    <div class="column selectors">
      <div class="row selector-row">
        <div class="column">
          <div class="row">
            <fa-icon
              [icon]="faBug"
              style="color: #e61711; padding-right: 1em"
            ></fa-icon>
            <p>Bug 1:</p>
          </div>
          <select class="ai-selector select">
            <option>Select your AI</option>
            <option>this</option>
            <option>that</option>
            <option>the</option>
            <option>other</option>
          </select>
        </div>
        <div class="column">
          <div class="row">
            <fa-icon
              [icon]="faBug"
              style="color: #448ef8; padding-right: 1em"
            ></fa-icon>
            <p>Bug 2:</p>
          </div>
          <select class="ai-selector">
            <option>Select your AI</option>
            <option>this</option>
            <option>that</option>
            <option>the</option>
            <option>other</option>
          </select>
        </div>
      </div>
      <div class="row selector-row">
        <div class="column">
          <div class="row">
            <fa-icon
              [icon]="faBug"
              style="color: #f4eb4a; padding-right: 1em"
            ></fa-icon>
            <p>Bug 3:</p>
          </div>
          <select class="ai-selector">
            <option>Select your AI</option>
            <option>this</option>
            <option>that</option>
            <option>the</option>
            <option>other</option>
          </select>
        </div>
        <div class="column">
          <div class="row">
            <fa-icon
              [icon]="faBug"
              style="color: #73bb54; padding-right: 1em"
            ></fa-icon>
            <p>Bug 4:</p>
          </div>
          <select class="ai-selector select">
            <option>Select your AI</option>
            <option>this</option>
            <option>that</option>
            <option>the</option>
            <option>other</option>
          </select>
          <button class="btn btn-primary start-btn">Begin game</button>

        </div>
      </div>
    </div>
  </div>
</div>
