<div class="column">
  <div class="header">
    <div class="h1-row">
      <h1>AI Script Editor</h1>
    </div>
    <h2>Enter the code for your AI here.</h2>
  </div>
  <!-- <div class="row title-row">
    <input class="editor-title inner" id="title" placeholder="Enter your AI title here">
    <button class="btn-primary inner">Save Code</button>
    <button class="btn-primary inner">Test Code</button>
    <p class="return-message inner">Your code is broken! Look at Line 112.</p>
  </div> -->
  <app-script-editor></app-script-editor>
</div>
