:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.title-row {
  display: flex;
  vertical-align: bottom;
}

.title-row > .inner {
  margin: 10px;
}

.return-message {
  font-family: 'Courier New', Courier, monospace;
  color: red;
  align-self: flex-end;
}

.btn-grp {
  margin-left: 10px;
  margin-right: 10px;
}

.editor-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  width: 35%;
  padding: 10px;
  border-radius: 4px;
  border:1px solid darkgray;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.header{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.h1-row{
  display:flex;
  justify-content: space-between;
}

.icon-link{
  padding: 20px;
  color: inherit;
}

.btn-primary:hover {
  background-color: #666666;
}


@media screen and (max-width: 768px) and (min-width: 416px){

}


@media screen and (max-width: 415px) {
  .column{
    display: flex;
  }
  .row{
    flex-direction: column;
  }
  .mobile{
    /* display: flex;
    vertical-align: bottom; */
    bottom: 0;
  }
}
