#editor-container {
  border: solid 1px #d3d3d3;
  border-radius: 3px;
  height: 500px;
  margin: 0.5rem;
  overflow-y: hidden;
}

#editor-line-numbers,
#editor-textarea {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 1.2;
  overflow-y: auto;
  padding: 0.5rem;
  position: relative;
  top: 0;
  width: 2rem;
}

#editor-line-numbers {
  background-color: #f0f0f0;
  height: 1000px;
}

#editor-line-number {
  text-align: center;
}

#editor-textarea {
  background-color: #fff;
  border: none;
  outline: none;
  resize: none;
  width: 600px;
}
