form{
  margin: 1rem;
  margin-top: .25rem;
}
#editor-container {
  border: solid 1px #d3d3d3;
  border-radius: 3px;
  margin: 0.5rem;
  overflow-y: hidden;
}
#name{
  margin-left: .5rem;
  width: 40%;
}
.action-btns{
  display: flex;
  justify-content: space-around;
}

.editor {
  width: 100%;
}

.desktop{
  flex-direction: row;
  justify-content: space-around;
}

.mobile{
  display: none;
}

.btn{
  margin-left: 1em;
  margin-right: 1em;
}

@media screen and (max-width: 992px) and (min-width: 416px){
  #name{
    width: 100%;
  }
   .desktop{
    display: none;
  }

  .mobile{
    display: inline;
  }
}

@media screen and (max-width: 464px){

  #name{
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
  .desktop{
    display: none;
  }

  .mobile{
    display: inline;
  }
}

