
    .container1{
    padding-left: 50px;
    margin-bottom: 50;

  }
  .container2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    white-space: normal;
    padding-left: 50px;
    margin-bottom: 50;
    
  }
  .pictureContainer{
   display: flex;
   flex-direction: row;
   padding-left: 50px;
   padding-top: 100px;
   justify-content: space-around;
   align-items: center;
   align-content: center;
  }


  img {
      border-radius: 50%;
      width: 150px;
  }


  
  

  