<div class="container1">
    <br><br>
    <h1>About</h1>    

    <h3>The team behind Bug Wars</h3>

    <div class="pictureContainer">
        <div id="wrapper">
            <!--div class='col col-sm-3 col-lg-2 m-5"'--> 
            <img src="assets\images\trainingMeagan.jpg" alt="">
            <h3>Meagan Yannaccone</h3> 
            <h4>Technical Lead</h4>  
       </div>
        <div style="text-align: center"> 
            <!--div class='col col-sm-3 col-lg-4 m-5"'-->
            <img src="assets\images\trainingKeanu.jpg" alt="">
            <h3>Keanu Allridge </h3>
            <h4>Full Stack Developer</h4>
        </div>
        <!--div class='col  col-sm-3 col-lg-4 m-5"'-->
        <div style="text-align: center"> 
            <img src="assets\images\trainingKellsey.png" alt="">
            <h3>Kellsey Neagley</h3>
            <h4>Full Stack Developer</h4>
            </div>
        
        <div style="text-align: center">
         <!--  <div class=' col col-sm-3 col-lg-4 m-5"'--> 
            <img src="assets\images\trainingRamon.png" alt="">
        <h3>Ramon Hubbell</h3> 
        <h4>Full Stack Developer</h4>
        
    </div>
    <!--div class='col col-sm-3 col-lg-2 m-5"'-->
        <div style="text-align: center"> 
            <img src="assets\images\trainingLolita.jpg" alt="">
            <h3>Lolita Young</h3>
            <h4>Full Stack Developer</h4>
            </div>
        </div> 
    
    <div>
    <h1 style="padding-top: 35px;">How it works</h1>  
    </div>
    <br><br>
    <div class="textRowContainer">
        <img class="graphic" src="assets\images\microservice.jpg" alt="">
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
             ad minim veniam, quis nostrud exercitation 
             ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
             in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
             Excepteur sint occaecat cupidatat non proident, 
             sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div> 

</div> 
