<div class="container1">
    <br><br>
<h1>About</h1>    
    <div>
<h3>The team behind Bug Wars</h3>
<br><br><br>
<div class="container2">
    <div><script>
        var c = document.getElementById("picture1");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(95,50,40,0,2*Math.PI);
        ctx.stroke();
        var c = document.getElementById("picture2");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(95,50,40,0,2*Math.PI);
        ctx.stroke();
        var c = document.getElementById("picture3");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(95,50,40,0,2*Math.PI);
        ctx.stroke();
        var c = document.getElementById("picture5");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(95,50,40,0,2*Math.PI);
        ctx.stroke();
        var c = document.getElementById("picture6");
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.arc(95,50,40,0,2*Math.PI);
        ctx.stroke();
        </script> 
        </div>
<br><br><br><br>
<canvas id="picture1" width="200" height="100" style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML canvas tag.</canvas>
    <canvas id="picture2" width="200" height="100" style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML canvas tag.</canvas>
        <canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">
            Your browser does not support the HTML canvas tag.</canvas>
            <canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">
                Your browser does not support the HTML canvas tag.</canvas>
                <canvas id="myCanvas" width="200" height="100" style="border:1px solid #d3d3d3;">
                    Your browser does not support the HTML canvas tag.</canvas>
<h1>How it Works</h1>

</div>
</div>

