
    .container1{
    padding-left: 50px;
    margin-bottom: 50;

  }
  .container2{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    white-space: normal;
    padding-left: 50px;
    margin-bottom: 50;
    
  }

  img {
      border-radius: 50%;
      width: 300px;
  }

  
  

  