<div class="container">
  <div class="m-3 text-center">
    <h1 class="h1-responsive font-weight-bolder text-center text-md-left">About</h1>
    <div class="w-100"></div>
    <h2 class="h2-responsive font-weight-light text-center text-md-left">The team behind Bug Wars</h2>
  </div>
    <div class="row mt-4 justify-content-left justify-content-md-center justify-content-lg-between">
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img class="p-0 col-12 team-photo" src="assets\images\trainingMeagan.jpg" alt="">
            <div class="mt-2">
            <p class="name-title m-1 font-weight-bold">Meagan Yannaccone</p>
            <p class="name-title p-0">Technical Lead</p>
          </div>
       </div>
        <div class="col-6 col-md-4 col-lg-2 text-center" >
            <img class="p-0 col-12 team-photo" src="assets\images\trainingKeanu.jpg" alt="">
            <div class="mt-2">
            <p class="name-title m-1 font-weight-bold">Keanu Allridge</p>
            <p class="name-title p-0">Full Stack Developer</p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center ">
            <img class="p-0 col-12 team-photo" src="assets\images\trainingKellsey.png" alt="">
            <div class="mt-2">
                <p class="name-title m-1 font-weight-bold">Kellsey Neagley</p>
                <p class="name-title p-0">Full Stack Developer</p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-2 text-center">
            <img class="p-0 col-12 team-photo" src="assets\images\trainingRamon.png" alt="">
            <div class="mt-2">
                <p class="name-title m-1 font-weight-bold">Ramon Hubbell</p>
                <p class="name-title p-0">Full Stack Developer</p>
        </div>
    </div>
        <div class="col-6 col-md-4 col-lg-2 text-center" >
            <img class="p-0 col-12 team-photo" src="assets\images\trainingLolita.jpg" alt="">
              <p class="name-title m-1 font-weight-bold">Lolita Young</p>
              <p class="name-title p-0">Full Stack Developer</p>
            </div>
        </div>

    <div>
        <h1 class="h1-responsive mt-5 font-weight-bolder text-center text-md-left">How it works</h1>
    </div>
    <div class="row mt-4">
       <div class="col-12 col-lg-4 px-md-0">

        <img class="d-md-none d-lg-block col-12 font-weight-light arichecture-graphic" src="assets\images\portrait.jpg" alt="">

        <img class="mx-md-0 d-none d-md-block d-lg-none d-lg-block col-12 font-weight-light arichecture-graphic" src="assets\images\trainingArchitectureGraphic.png" alt="">

       </div>
       <div class="col-12 col-lg-8">
        <p class="mx-3 my-3 mx-md-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
             eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
             ad minim veniam, quis nostrud exercitation
             ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
             in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
             Excepteur sint occaecat cupidatat non proident,
             sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
</div>
