:host {
  flex: 1;
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  justify-content: flex-end;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.control {
  border: none;
  background-color: transparent;
  outline: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}

.control:hover{
  opacity: 1;
}

.control:focus{
  opacity: 1;
}

.control.next{
  right: 0;
}

.control.prev{
  left: 0;
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid black;
  border-bottom: 0.1em solid black;
  width: 0.5em;
  height: 0.5em;
}

.arrow.left{
  transform: rotate(45deg);
}

.arrow.right{
  transform: rotate(225deg);
}

.controller{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
  z-index: 100;
}
