carousel{
    /*padding: 30%;*/
    width: 200px;
    
}
.map-c{
    /*padding-right: 40%;*/
}
.pagination {
    /*display: inline-block;
    align-items: center;*/
    text-align: center;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}

  