.title{
  font-family: sans-serif;
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 75px;
  padding: 10px;
}

h2{
  text-align: center;
  padding: 10px;
}

.btn-row {
  margin: 50px;
}

.btn-row > a{
  margin: 20px;
}

.btn-menu{
  font-size: 20px;
  padding: 20px 40px 20px 40px;
}

.row{
  padding: 10px;
}



