<div class="grid-container">
  <div class="column selectors ai-dropdown">
    <div class="row selector-row">
      <div class="column bug-dropdown1">
        <div class="row bug-name1">
          <fa-icon
            [icon]="faBug"
            style="color: #e61711; padding-right: 1em"
          ></fa-icon>
          <p>Bug 1:</p>
        </div>
        <select class="ai-selector select select1">
          <option>Select your AI</option>
          <option>this</option>
          <option>that</option>
          <option>the</option>
          <option>other</option>
        </select>
      </div>

      <div class="column bug-dropdown2">
        <div class="row bug-name2">
          <fa-icon
            [icon]="faBug"
            style="color: #448ef8; padding-right: 1em"
          ></fa-icon>
          <p>Bug 2:</p>
        </div>
        <select class="ai-selector select2">
          <option>Select your AI</option>
          <option>this</option>
          <option>that</option>
          <option>the</option>
          <option>other</option>
        </select>
      </div>
    </div>

    <div class="row selector-row">
      <div class="column bug-dropdown3">
        <div class="row bug-name3">
          <fa-icon
            [icon]="faBug"
            style="color: #f4eb4a; padding-right: 1em"
          ></fa-icon>
          <p>Bug 3:</p>
        </div>
        <select class="ai-selector select3">
          <option>Select your AI</option>
          <option>this</option>
          <option>that</option>
          <option>the</option>
          <option>other</option>
        </select>
      </div>

      <div class=" column bug-dropdown4">
        <div class="row bug-name4">
          <fa-icon
            [icon]="faBug"
            style="color: #73bb54; padding-right: 1em"
          ></fa-icon>
          <p>Bug 4:</p>
        </div>
        <select class="ai-selector select select4">
          <option>Select your AI</option>
          <option>this</option>
          <option>that</option>
          <option>the</option>
          <option>other</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary start-btn">Begin game</button>

  </div>
</div>
