
  .bug{
    height: 26px;
    width: 26px;
    padding-right: 10%;
    padding-bottom: 5%;
  }
  .selectors{
    width: 50%;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 416px){
  .ai-selector{
    font-size: 20px;
    padding: 20px;
  }
  .bug-dropdown1, .bug-dropdown2, .bug-dropdown3, .bug-dropdown4{
    margin-left: 1em;
    padding:  1em;
  }
  .start-btn{
    margin-right: -155px;
    margin-left: 33px;
  }
}

  @media screen and (max-width: 415px){
    p{
      width: 60px;
    }
    select.ai-selector{
      padding-right: 10%;
      padding-left: 40%;
    }
    .grid-container{
      margin-left: 1em;
    }
    .selector-row{
      flex-direction: column;
    }
    .ai-selector{
      padding: 5px;
      margin: 4px;
      width: 250px;
    }
    .start-btn{
      padding-top: 5px;
      width: 9em;
      margin-left: 83%;
      margin-top: 1px;
    }
    .bug-dropdown1, .bug-dropdown2, .bug-dropdown3, .bug-dropdown4{
      flex-direction: row;
    }
    .bug-name1, .bug-name2, .bug-name3, .bug-name4{
      margin-top: .8em;
    }
  }
